# 1. Importing libraries

In [1]:
from fyers_api import fyersModel
import os
import pandas as pd
import datetime as dt

# 2. Reading Access token

In [2]:
with open("access.txt",'r') as r:
    access_token=r.read()

print("access_token:",access_token)

client_id='L0QBIDUTN6-100'
fyers = fyersModel.FyersModel(token=access_token, log_path=os.getcwd(), client_id = client_id)
validation = fyers.get_profile()
print("validation:", validation)

access_token: eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJhcGkuZnllcnMuaW4iLCJpYXQiOjE3MDA0NjAxOTYsImV4cCI6MTcwMDUyNjYxNiwibmJmIjoxNzAwNDYwMTk2LCJhdWQiOlsieDowIiwieDoxIiwieDoyIiwiZDoxIiwiZDoyIiwieDoxIiwieDowIl0sInN1YiI6ImFjY2Vzc190b2tlbiIsImF0X2hhc2giOiJnQUFBQUFCbFd2YWtCM2k2eEUybWRjVzVRVkxIQnVQeXVWQUZzT1lacV9aa3VibWtaRWhrc0hBXzVmaGRzdmpvZGtzOVU2cFY4dHhWS2hwb3laeFpfckJVcTl6c25UVEhXQlJkR3pkcWVkeXkwX1pSZ1NZT0RDcz0iLCJkaXNwbGF5X25hbWUiOiJUVVNIQVIgVU1FU0ggU0VUSEkiLCJvbXMiOiJLMSIsImhzbV9rZXkiOiJhOGQ5ZTJjYzc1NWJhMmY1YjFiOThlYTkxNDdlY2MyMmZkMjI2ODVkMmM5NWY4YTA0MTk3ODVmYyIsImZ5X2lkIjoiWFQwOTk2MCIsImFwcFR5cGUiOjEwMCwicG9hX2ZsYWciOiJOIn0.1_0_IyxmBqgp_sblFOTkpg6crHPAwFzhpr9umyS6qeE

# 3. loading data

In [3]:
input = {
    "symbol":"NSE:SBIN-EQ",
    "resolution":"D",
    "date_format":"1",
    "range_from":"2023-11-01",
    "range_to":"2023-11-03",
    "cont_flag":"1"
}

## daily - 365 days
## min - 90 days

In [5]:
data = fyers.history(input)
data = pd.DataFrame(data['candles'])
data.columns=['date','open','high','low','close','volume']
data['date'] = pd.to_datetime(data['date'],unit='s')
data.date=(data.date.dt.tz_localize('UTC').dt.tz_convert('Asia/Kolkata'))
data['date'] = data['date'].dt.tz_localize(None)
data= data.set_index('date')
data

            0       1       2       3       4         5
0  1698796800  566.25  569.65  563.85  566.40  13575575
1  1698883200  571.10  575.45  567.60  572.10  11148516
2  1698969600  576.00  579.50  573.45  578.15  11371371

# 4. Loading large dates

### 4.1 Complete code - without dataframe

In [5]:
from fyers_api import fyersModel
import os
import pandas as pd
import datetime as dt


with open("access.txt",'r') as r:
    access_token=r.read()

# print("access_token:",access_token)

client_id='L0QBIDUTN6-100'
fyers = fyersModel.FyersModel(token=access_token, log_path=os.getcwd(), client_id = client_id)
# validation = fyers.get_profile()
# print("validation:", validation)



def gethist(stock,type,timeframe,duration):
    symbol="NSE:"+stock+"-"+type
    start = dt.date.today()-dt.timedelta(duration)
    # start = dt.date(2022, 8, 1)
    end = dt.date.today()
    # end = dt.date(2023, 11, 6)
    print("from :",start, "    to:",end)
    sdata = pd.DataFrame()
    while start <= end:
        end2 = start + dt.timedelta(days=60)  
        print("start:",start,"   end:", end2)
        data = {"symbol":symbol, "resolution":timeframe,"date_format":"1","range_from":start,"range_to":end2,"cont_flag":"1"}
        s = fyers.history(data)
        s=pd.DataFrame(s['candles'])
        sdata = pd.concat([sdata,s],ignore_index=True)
        start=end2+dt.timedelta(1)


    sdata.columns=['date','open','high','low','close','volume']
    sdata['date'] = pd.to_datetime(sdata['date'],unit='s')
    sdata.date=(sdata.date.dt.tz_localize('UTC').dt.tz_convert('Asia/Kolkata'))
    sdata['date'] = sdata['date'].dt.tz_localize(None)
    sdata= sdata.set_index('date')
    return sdata

print(gethist('SBIN', 'EQ', 'D', 2000))

from : 2018-05-27     to: 2023-11-17
start: 2018-05-27    end: 2018-07-26
start: 2018-07-27    end: 2018-09-25
start: 2018-09-26    end: 2018-11-25
start: 2018-11-26    end: 2019-01-25
start: 2019-01-26    end: 2019-03-27
start: 2019-03-28    end: 2019-05-27
start: 2019-05-28    end: 2019-07-27
start: 2019-07-28    end: 2019-09-26
start: 2019-09-27    end: 2019-11-26
start: 2019-11-27    end: 2020-01-26
start: 2020-01-27    end: 2020-03-27
start: 2020-03-28    end: 2020-05-27
start: 2020-05-28    end: 2020-07-27
start: 2020-07-28    end: 2020-09-26
start: 2020-09-27    end: 2020-11-26
start: 2020-11-27    end: 2021-01-26
start: 2021-01-27    end: 2021-03-28
start: 2021-03-29    end: 2021-05-28
start: 2021-05-29    end: 2021-07-28
start: 2021-07-29    end: 2021-09-27
start: 2021-09-28    end: 2021-11-27
start: 2021-11-28    end: 2022-01-27
start: 2022-01-28    end: 2022-03-29
start: 2022-03-30    end: 2022-05-29
start: 2022-05-30    end: 2022-07-29
start: 2022-07-30    end: 2022-09-28
start: 2022-09-29    end: 2022-11-28
start: 2022-11-29    end: 2023-01-28
start: 2023-01-29    end: 2023-03-30
start: 2023-03-31    end: 2023-05-30
start: 2023-05-31    end: 2023-07-30
start: 2023-07-31    end: 2023-09-29
start: 2023-09-30    end: 2023-11-29
                       open    high     low   close    volume
date
2018-05-28 05:30:00  267.40  274.20  266.05  272.05  18959368
2018-05-29 05:30:00  270.50  270.95  262.80  264.30  16107543
2018-05-30 05:30:00  260.50  268.00  259.95  267.15  19320209
2018-05-31 05:30:00  266.85  274.80  263.15  269.55  31935892
2018-06-01 05:30:00  269.25  269.80  264.60  266.70  16574717
...                     ...     ...     ...     ...       ...
2023-11-10 05:30:00  577.80  581.00  575.40  579.50   6773038
2023-11-12 05:30:00  584.75  584.75  580.10  581.30   1947722
2023-11-13 05:30:00  581.00  582.50  575.20  581.35  11282362
2023-11-15 05:30:00  587.25  588.00  582.60  584.70  11397676
2023-11-16 05:30:00  584.70  588.00  582.90  584.65   8622660

[1357 rows x 5 columns]

### 4.2 Complete code - with dataframe

In [1]:
from fyers_api import fyersModel
import os
import pandas as pd
import datetime as dt

with open("access.txt", 'r') as r:
    access_token = r.read()

client_id = 'L0QBIDUTN6-100'
fyers = fyersModel.FyersModel(token=access_token, log_path=os.getcwd(), client_id=client_id)

def gethist(stock, type, timeframe, duration):
    symbol = "NSE:" + stock + "-" + type
    start = dt.date.today() - dt.timedelta(duration)
    end = dt.date.today()
    print("from :", start, "    to:", end)
    
    sdata = pd.DataFrame()
    
    while start <= end:
        end2 = start + dt.timedelta(days=60)  
        print("start:", start, "   end:", end2)
        
        data = {"symbol": symbol, "resolution": timeframe, "date_format": "1", "range_from": start, "range_to": end2, "cont_flag": "1"}
        candles = fyers.history(data)
        
        if candles.get('candles'):
            s = pd.DataFrame(candles['candles'])
            sdata = pd.concat([sdata, s], ignore_index=True)
        
        start = end2 + dt.timedelta(1)
    
    sdata.columns = ['date', 'open', 'high', 'low', 'close', 'volume']
    sdata['date'] = pd.to_datetime(sdata['date'], unit='s')
    sdata['date'] = sdata['date'].dt.tz_localize('UTC').dt.tz_convert('Asia/Kolkata')
    sdata['date'] = sdata['date'].dt.tz_localize(None)
    sdata = sdata.set_index('date')
    
    return sdata

# Call the function and store the result in a DataFrame
historical_data = gethist('SBIN', 'EQ', 'D', 400)
print(historical_data)
historical_data.head()

from : 2022-10-21     to: 2023-11-25
start: 2022-10-21    end: 2022-12-20
start: 2022-12-21    end: 2023-02-19
start: 2023-02-20    end: 2023-04-21
start: 2023-04-22    end: 2023-06-21
start: 2023-06-22    end: 2023-08-21
start: 2023-08-22    end: 2023-10-21
start: 2023-10-22    end: 2023-12-21
                       open    high     low   close    volume
date
2022-10-21 05:30:00  557.25  565.80  557.25  560.85  11767639
2022-10-24 05:30:00  567.00  572.50  565.90  570.50   3692065
2022-10-25 05:30:00  572.50  586.20  568.00  578.55  19899324
2022-10-27 05:30:00  583.95  585.00  577.60  579.65  13613533
2022-10-28 05:30:00  579.95  582.65  567.00  570.75  10043644
...                     ...     ...     ...     ...       ...
2023-11-20 05:30:00  564.00  566.80  560.60  563.75  12714585
2023-11-21 05:30:00  566.00  566.65  561.00  561.50  14280013
2023-11-22 05:30:00  562.95  564.50  555.15  558.95  14909071
2023-11-23 05:30:00  561.75  563.50  558.30  559.95   6376210
2023-11-24 05:30:00  561.95  562.45  559.25  560.35   6529851

[272 rows x 5 columns]

                       open    high     low   close    volume
date
2022-10-21 05:30:00  557.25  565.80  557.25  560.85  11767639
2022-10-24 05:30:00  567.00  572.50  565.90  570.50   3692065
2022-10-25 05:30:00  572.50  586.20  568.00  578.55  19899324
2022-10-27 05:30:00  583.95  585.00  577.60  579.65  13613533
2022-10-28 05:30:00  579.95  582.65  567.00  570.75  10043644