# 1 import libraries & token

In [5]:
from fyers_api import fyersModel
import os
import pandas as pd
import datetime as dt


with open("access.txt",'r') as r:
    access_token=r.read()

# print("access_token:",access_token)

client_id='L0QBIDUTN6-100'
fyers = fyersModel.FyersModel(token=access_token, log_path=os.getcwd(), client_id = client_id)
# validation = fyers.get_profile()
# print("validation:", validation)

# 2 place order

In [6]:
data = {
     "symbol":"NSE:SBIN-EQ",
     "qty":1,
     "type":2,    #1 => Limit Order    2 => Market Order    3 => Stop Order (SL-M)    4 => Stoplimit Order (SL-L)
     "side":1,    #1 => Buy      -1 => Sell
     "productType":"INTRADAY",   #CNC => For equity only    INTRADAY => Applicable for all segments.  CO => Cover Order    BO => Bracket Order    MARGIN => Applicable only for derivatives
     "limitPrice":0,        #for Limit and Stoplimit orders
     "stopPrice":0,         #for Stop and Stoplimit orders
     "validity":"DAY",
     "disclosedQty":0,          
     "offlineOrder":"False",     # False     True
     "stopLoss":0,              #for CO and BO orders
     "takeProfit":0             #for BO orders
 }
 
 
order = fyers.place_order(data=data)
print(order)

{'s': 'error', 'code': -99, 'message': "RED:'MIS' Orders are disallowed after system square off", 'id': ''}

# 3 Modify Order

In [15]:
orderId = '23110800455059'
data = {
           "id":orderId,
           "type":1,
           "limitPrice":600,
           "qty":1,
}

modify = fyers.modify_order(data)
print(modify)

{'s': 'ok', 'code': 1102, 'message': 'Successfully modified order', 'id': '23110800455059'}

# 4 Cancel Order

In [17]:
orderId = '23110800455059'
cancel = {"id":orderId}
fyers.cancel_order(cancel)

{'s': 'ok',
 'code': 1103,
 'message': 'Successfully cancelled order',
 'id': '23110800455059'}

# 5 Transactions

### 5.1 positions

In [23]:
pd.DataFrame(fyers.positions()['netPositions'])

Empty DataFrame
Columns: []
Index: []

### 5.2 sucessful orders

In [22]:
pd.DataFrame(fyers.tradebook()['tradeBook'])

Empty DataFrame
Columns: []
Index: []

### 5.3 all orders

In [28]:
pd.DataFrame(fyers.orderbook()['orderBook'])

,clientId,id,exchOrdId,qty,remainingQuantity,filledQty,discloseQty,limitPrice,stopPrice,tradedPrice,...,source,ex_sym,description,ch,chp,lp,slNo,dqQtyRem,orderNumStatus,disclosedQty
0,XT09960,23110900210706,,1,0,0,0,0,0,0,...,API,SBIN,STATE BANK OF INDIA,-1.94,-0.334316,578.35,1,0,23110900210706:5,0